<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6559C8721E6E79A000B3F132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6559C88E1E6E79A000B3F132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6559C8991E6E79A000B3F132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
